html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

body {
  --color-text: #1a1a1a;
  --color-background: white;

  --color-button-bg: var(--color-text);
  --color-button-text: var(--color-background);

  --size-container: 64rem;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: rgb(19, 19, 26);
  }
}

#__next {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  min-height: 100vh;
  padding: 2rem;
}

.site_title {
  font-size: 1rem;
}

.site_title > a {
  text-decoration: none;
}

.page_title {
  margin: 0;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  gap: 2rem;
  margin: 1rem auto;
  width: 100%;
  max-width: var(--size-container);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0;
}

fieldset {
  border: none;
  padding: 0;
}

label {
  font-size: 0.75rem;
  line-height: 1;
  font-variant-caps: all-small-caps;
  letter-spacing: 0.05em;
  opacity: 0.8;
  margin-bottom: 0.5rem;
}

fieldset > label {
  display: block;
}

input {
  font-size: 1rem;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  border-radius: 0;
  display: block;
  width: 100%;
  border: none;
  box-shadow: 0 0 0 1px currentColor;
}

.container {
  width: 100%;
  margin: 0 auto;
  max-width: var(--size-container);
}
